body{
    margin: 0 auto;
    width: 1080px;
    font-size: 16px;
    font-family: "lora",serif;
    font-weight:200;
}
.aside{
    width: 20%;
    height: 100%;
    float: left;
    margin-right: 2%;
}
.aside .logo {
    width: 70%;
    padding-bottom: 70%;
    background:url(./images/food-sense-logo.png) 0px 99%;
    background-size: cover;
    display: block;
}
.main-content{
    float: right;
    width: 78%
}
.header-content-picture {
    height: 400px;
    width: 100%;
    background:url(./images/cake-main.jpg)no-repeat;
    background-size: cover;
    min-height: 270px;
    position: relative;
}
.header-content .header-content-picture .title {
    position: relative;
    top: 60%;
    margin: 0 auto;
    padding: 0.3em 15px;
    float: right;
    font-style: italic;
    background: #FFFFFF;
    font-size: 2em;
}
.header-content .header-content-picture .header-content-picture-title{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: 65%;
    right: 10px;
    color: #e5e5e5;
    font-size: .6em;
    float: right;
}
.footer {
    margin-top: 20px;
    padding: 10px 0;
    float: left;
    width: 100%;
    border-top: 2px solid #ABACAC;
}
.footer .social-links {
    float: right;
    padding: 13px 0;
    letter-spacing: .2em;
}
.footer .footer-content {
    float: left;
    font-size: .85em;
    padding: 7px 0;
}
.header-content .nav_item {
    color: #3baf9b;
    width: 25%;
    float: left;
    background: #eff8f7;
    padding: 4% 2%;
    border-right: 1px solid #d9efec;
    box-sizing: border-box;
}
.email_icon {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}
.email_description {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5em;
    width: 400px;
    margin: 0 2%;
    text-align: left;
    vertical-align: middle;
    font-family: "Josefin Slab", serif;
}
.email_input {
    line-height: 1.5em;
    margin-right: 10px;
    width: 18em;
}
.email_button {
    background: linear-gradient(#FFFFFF, #e5e5e5);
    font-size: .8em;
    padding: .2em 1.4em;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}
.article .picture{
    width: 170px;
    height: 89px;
}
.article_title {
    color: #3baf9b;
    margin: 10px 0;
    font-size: 1.25em;
}
.article_content {
    margin: 10px 0;
}
p {
    display: block;
}
.article {
    width: 23.285%;
    padding-right: 1%;
    margin-bottom: 2%;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
}
.article_picture{
    border: 1px solid #e5e5e5;
    padding: 10px;
    box-shadow: 3px 3px 3px #e5e5e5;
}
.social_content .button{
    color: #3baf9b; 
}
.aside .nav{
    font-size: 1.25em;
    line-height: 2.5em;
    margin-bottom: 60px;
}
.aside .nav a{
    color: #3baf9b;
}
.social_content .title{
    padding: .2em 0;
    border-bottom: 2px dashed #eee;
    margin: 10px 0;
}